.font-icon-url {
  color: #212529;
}

.font-icon-url:hover {
  opacity: 50%;
}

.about-me {
  font-size: 1.2em;
  line-height: 2em;
}

.course {
  height: 1.6em;
  font-size: 1.2em;
}

.university {
  font-size: 1.1em;
}

.location {
  font-size: 16px;
}

.linkedin-icon {
  color: #0a66c2;
}

.email-icon {
  color: #cf473f;
}
