.font-icon-url {
  color: #212529;
}

.font-icon-url:hover {
  opacity: 50%;
}

.about-me {
  font-size: 1.2em;
  line-height: 2em;
}

.course {
  font-size: 1.2em;
}

.institution {
  font-size: 1.1em;
  font-weight: 500;
  font-style: oblique;
  color: #292c2e;
}

.institution-location {
  font-size: 0.95em;
  font-style: italic;
}

.location {
  font-size: 16px;
}

.linkedin-icon {
  color: #0a66c2;
}

.email-icon {
  color: #cf473f;
}

.degree-content {
  line-height: 10px;
}

.degree-icon {
  vertical-align: top;
}

.institution-info {
  margin-left: 0px;
}
