<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <img class="img-responsive shadow-lg bg-white mx-auto d-block" src="assets/images/profile-image.jpg"
                data-holder-rendered="true" />
            <p class="h4 font-weight-bolder text-center mt-3">Pial Kanti Samadder</p>
            <p class="h5 text-secondary font-weight-bolder text-center mt-2">
                Software Engineer
            </p>

            <p class="text-center location text-secondary">
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>&nbsp;&nbsp;<span class="text-secondary">Dhaka,
                    Bangladesh</span>
            </p>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <a href="mailto:pialkanti.samadder@gmail.com" class="font-icon-url">
                        <fa-icon [icon]="faEnvelope" class="fa-2x col-md-4 text-center"></fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/pial-kanti/" class="font-icon-url">
                        <fa-icon [icon]="faLinkedin" class="fa-2x col-md-4 text-center"></fa-icon>
                    </a>
                    <a href="https://github.com/PialKanti" class="font-icon-url">
                        <fa-icon [icon]="faGithub" class="fa-2x col-md-4 text-center"></fa-icon>
                    </a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="col-md-8">
            <p class="h2 font-weight-bolder">About</p>
            <p id="about-me">I am a software engineer currently working at <b><a
                        href="https://research.samsung.com/srbd">Samsung R&D Institute Bangladesh
                        (SRBD)</a></b>.
                Prior joining SRBD, I completed my B.Sc. in Computer Science & Engineering from <b><a
                        href="https://www.kuet.ac.bd/">Khulna University
                        Of
                        Engineering & Technology (KUET).</a></b>
            </p>
            <div class="mt-5">
                <p class="h4 font-weight-bolder">Education</p>
                <ul class="list-unstyled">
                    <li>
                        <div class="row">
                            <div class="col-md-1">
                                <fa-icon [icon]="faGraduationCap" class="fa-2x"></fa-icon>
                            </div>
                            <div class="col-md-11">
                                <div class="row course">
                                    <div class="col-md-8">
                                        <p class="font-weight-bold">B.Sc. in Computer Science & Engineering</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p class="font-weight-bold">2012 &mdash; 2017</p>
                                    </div>
                                </div>
                                <p class="university text-secondary">Khulna University of Engineering & Technology
                                    (KUET)
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>