<div class="container">
    <ul class="nav nav-tabs nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" [class.active]="tabId === 0" (click)="tabChange(0)"
                href="javascript:void(0);">Professional</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="tabId === 1" (click)="tabChange(1)"
                href="javascript:void(0);">Academic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="tabId === 2" (click)="tabChange(2)"
                href="javascript:void(0);">Personal</a>
        </li>
    </ul>

    <project-type *ngIf="tabId === 0" [projects]="projects" type="Professional"></project-type>
    <project-type *ngIf="tabId === 1" [projects]="projects" type="Academic"></project-type>
    <project-type *ngIf="tabId === 2" [projects]="projects" type="Personal"></project-type>
</div>