<div class="container">
    <div class="ug-research mt-5">
        <p class="h3 font-weight-bolder">Undergraduate Research</p>
        <hr>
        <p><b>Title: </b> A Convolutional Neural Network based Approach to Detect Handwritten Bangla Characters</p>
        <p><b>Supervisor: </b> <a href="https://www.kuet.ac.bd/cse/rokib/index.php"> Dr. Kazi Md. Rokibul Alam</a></p>
        <b>Achievements:</b>
        <ul>
            <li>Recognized Bangla Handwritten character from given input image.</li>
            <li>Used Convolutional Neural Network (CNN) for training handwritten character classification model.</li>
        </ul>
    </div>
    <div class="row mt-5">
        <figure class="figure">
            <img class="img-responsive" src="assets/images/UG-Thesis-Architecture.jpg" data-holder-rendered="true"
                alt="Full Architecture of classifying character" />
            <figcaption class="figure-caption text-center mt-4">Full Architecture of classifying character</figcaption>
        </figure>
    </div>
    <div class="row mt-3">
        <figure class="figure">
            <img class="img-responsive" src="assets/images/sample-dataset.png" data-holder-rendered="true"
                alt="Sample of handwritten bangla character dataset" />
            <figcaption class="figure-caption text-center mt-4">Sample of handwritten bangla character dataset
            </figcaption>
        </figure>
    </div>
    <div class="row mt-3">
        <figure class="figure">
            <img class="img-responsive" src="assets/images/Test-data-accuracy.png" data-holder-rendered="true"
                alt="Accuracy vs iteration graph" />
            <figcaption class="figure-caption text-center mt-4">Accuracy vs iteration graph</figcaption>
        </figure>
    </div>
</div>