<div class="container">
    <div class="ug-research mt-5">
        <p class="h3 font-weight-bolder">Undergraduate Research</p>
        <hr>
        <p><b>Title: </b> A Convolutional Neural Network based Approach to Detect Handwritten Bangla Characters</p>
        <p><b>Supervisor: </b> <a href="https://www.kuet.ac.bd/cse/rokib/index.php"> Dr. Kazi Md. Rokibul Alam</a></p>
        <b>Achievements:</b>
        <ul>
            <li>Recognized Bangla Handwritten character from given input image.</li>
            <li>Used Convolutional Neural Network (CNN) for training handwritten character classification model.</li>
        </ul>
    </div>
</div>