<div class="container">
    <div class="content m-5">
        <p class="h4 font-weight-bolder">
            <fa-icon [icon]="faList"></fa-icon> &nbsp; Programming Language
        </p>
        <hr>
        <button type="button" class="btn btn-light m-2">
            <fa-icon [icon]="faCube"></fa-icon> &nbsp; C#
        </button>
        <button type="button" class="btn btn-light m-2">
            <fa-icon [icon]="faCube"></fa-icon> &nbsp; Java
        </button>
        <button type="button" class="btn btn-light m-2">
            <fa-icon [icon]="faCube"></fa-icon> &nbsp;C
        </button>
        <button type="button" class="btn btn-light m-2">
            <fa-icon [icon]="faCube"></fa-icon> &nbsp; C++
        </button>
        <button type="button" class="btn btn-light m-2">
            <fa-icon [icon]="faCube"></fa-icon> &nbsp; Python
        </button>
    </div>

    <div class="content m-5">
        <p class="h4 font-weight-bolder">
            <fa-icon [icon]="faList"></fa-icon> &nbsp; Database
        </p>
        <hr>
        <button type="button" class="btn btn-light m-2">
            <fa-icon [icon]="faCube"></fa-icon> &nbsp; SQLite
        </button>
        <button type="button" class="btn btn-light m-2">
            <fa-icon [icon]="faCube"></fa-icon> &nbsp; MySQL
        </button>
        <button type="button" class="btn btn-light m-2">
            <fa-icon [icon]="faCube"></fa-icon> &nbsp; Oracle
        </button>
    </div>

    <div class="content m-5">
        <p class="h4 font-weight-bolder">
            <fa-icon [icon]="faList"></fa-icon> &nbsp; Technologies
        </p>
        <hr>
        <div class="row m-3">
            <div class="col-md-4">
                <p class="my-auto sub-heading">
                    <fa-icon [icon]="faClipboardList"></fa-icon> &nbsp; Windows Platform:
                </p>
            </div>
            <div class="col-md-8">
                <button type=" button" class="btn btn-light ml-3">
                    <fa-icon [icon]="faCube"></fa-icon> &nbsp; UWP
                </button>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-md-4">
                <p class="my-auto sub-heading">
                    <fa-icon [icon]="faClipboardList"></fa-icon> &nbsp; Mobile App Development:
                </p>
            </div>
            <div class="col-md-8">
                <button type=" button" class="btn btn-light ml-3">
                    <fa-icon [icon]="faCube"></fa-icon> &nbsp; Android
                </button>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-md-4">
                <p class="my-auto sub-heading">
                    <fa-icon [icon]="faClipboardList"></fa-icon> &nbsp; Web:
                </p>
            </div>
            <div class="col-md-8">
                <button type=" button" class="btn btn-light ml-3">
                    <fa-icon [icon]="faCube"></fa-icon> &nbsp; PHP
                </button>
                <button type=" button" class="btn btn-light ml-3">
                    <fa-icon [icon]="faCube"></fa-icon> &nbsp; Laravel
                </button>
                <button type=" button" class="btn btn-light ml-3">
                    <fa-icon [icon]="faCube"></fa-icon> &nbsp; JavaScript
                </button>
                <button type=" button" class="btn btn-light ml-3">
                    <fa-icon [icon]="faCube"></fa-icon> &nbsp; Angular
                </button>
                <button type=" button" class="btn btn-light ml-3">
                    <fa-icon [icon]="faCube"></fa-icon> &nbsp; Vue.JS
                </button>
                <button type=" button" class="btn btn-light ml-3 mt-2">
                    <fa-icon [icon]="faCube"></fa-icon> &nbsp; J2EE
                </button>
            </div>
        </div>
    </div>

    <div class="content m-5">
        <p class="h4 font-weight-bolder">
            <fa-icon [icon]="faList"></fa-icon> &nbsp; Version Control System
        </p>
        <hr>
        <button type="button" class="btn btn-light m-2">
            <fa-icon [icon]="faCube"></fa-icon> &nbsp; Git
        </button>
        <button type="button" class="btn btn-light m-2">
            <fa-icon [icon]="faCube"></fa-icon> &nbsp; Perforce
        </button>
    </div>
</div>